@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.poppins {
  font-family: var(--font-poppins_init);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dashed-border-bg {
  border: 2px dashed rgba(255, 255, 255, 0.3) !important;
}

/* Custom Scroll Bar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px !important;
  height: 12px !important;
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* General styles for breadcrumb items for seo */
.breadcrumb-item {
  color: #333;
}

[data-slot="separator"] {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumb-item a {
  color: #ffffff;
  text-decoration: none;
}

[aria-current="page"] {
  color: #4EDFE7 !important;
  cursor: default;
}

[aria-current="page"] a {
  color: #4EDFE7 !important;
  pointer-events: none;
}

